CMakeCache.txt
.vscode
_deps
CMakeFiles
cmake_install.cmake
compile_commands.json
Makefile
spm
test_emitter
test_lexer
test_parser
test_resolver
test_registry
test_extractor
test_html_validator
node_modules/
build/
node_modules
docs/superpowers/
.superpowers/
Testing/